<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>{% include 'elefante/partials/styles.css' %}</style>
    <script type="module"> {% include 'elefante/partials/script.js' %} </script>
</head>
<body>
<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='/movel'>Reset</a></li>
  </ul>
</nav>
<div style="display: flex;">
    <div id="area1">
        <!-- Draggable DIV -->
        <div id="1" class="drag">
            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            <div id="1header" class="thing">Click here to move</div>
            <p>Questão</p>
        </div>
    
        <div id="2" class="drag" style="top: 100px;">
            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            <div id="2header" class="thing">Click here to move</div>
            <p>Questão</p>
        </div>
    
        <div id="3" class="drag" style="top: 200px;">
            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            <div id="3header" class="thing">Click here to move</div>
            <p>Questão</p>
        </div>
    </div>
    <div id="area2">
        
    </div>
</div>
<p id="measure" style="text-align: center;"></p>
</body>
</html>