<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de criação</title>
  <style>{% include 'elefante/partials/style.css' %}</style>
  <style>{% include 'elefante/partials/styles.css' %}</style>
  <script src="https://kit.fontawesome.com/5dd5fe0132.js" crossorigin="anonymous"></script>
  <script>
    function save() {
      // let coisa = document.getElementById("id_prova")
      const notification = document.getElementById("notification");
      let questoes = document.getElementsByClassName("questao")
      for (var i=0; i < questoes.length; i++) {
        let tipo = questoes[i].className.split(" ")[1]
        document.getElementById('id_tipo_questao').value = tipo
        document.getElementById('id_numero_questao').value = i + 1
        document.getElementById('id_enunciado').value = questoes[i].childNodes[0].childNodes[0].value

        let children = questoes[i].getElementsByClassName("linha")
        for (var j=0; j < children.length; j++){
          letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
          document.getElementById('id_letra_questao').value = letras[j]
          document.getElementById('id_texto1').value = children[j].getElementsByClassName('texto1')[0].value
          document.getElementById('id_texto2').value = children[j].getElementsByClassName('texto2')[0].value

          if (tipo == 'tipo1'){
            let select = children[j].getElementsByTagName('select')[0]
            let marcada = select.value
            document.getElementById('id_alt_marcada').value = marcada

            let incorretas = ''
            let alternativas = select.getElementsByClassName('alternativas')
            for (var k=0; k < alternativas.length; k++){
                incorretas += `${alternativas[k].value}, `
              }
            document.getElementById('id_alt_erradas').value = incorretas
          }else if (tipo == 'tipo2'){
            let select = children[j].getElementsByClassName('container')
            
            let incorretas = ''
            for (var k=0; k < select.length; k++){
              let radios = select[k].getElementsByClassName('radio')[0]
              let textos = select[k].getElementsByTagName('textarea')[0]
              alternativa = radios
              if (alternativa.checked){
                document.getElementById('id_alt_marcada').value = textos.value
                incorretas += `${textos.value}, `
              }else {
                incorretas += `${textos.value}, `
              }}
            document.getElementById('id_alt_erradas').value = incorretas
          }else if (tipo == 'tipo3'){
            let select = children[j].getElementsByTagName('select')[0]
            let marcada = select.value
            document.getElementById('id_alt_marcada').value = marcada

            let incorretas = ''
            let alternativas = select.querySelectorAll('[name="op"]')
            console.log(alternativas)
            for (var k=0; k < alternativas.length; k++){
                incorretas += `${alternativas[k].value}, `
              }
            document.getElementById('id_alt_erradas').value = incorretas
          }
          document.getElementById("criacao").requestSubmit()
        }
      }
    }

    function mais(tipo, nome_id){
      nome_id = nome_id + 'list'
      let modelo = document.createElement('li')
      modelo.className = 'linha'
      const modelos = {
      'tipo1': `<label> <input type="text" class="texto1"> </label>
  <select name="calculo" id="calculo" onclick="checkAndAddOption(this)">
<option value="new">novo</option>
<option value="remove">remover</option>
</select>
  <label for="calculo"> <input type="text" class="texto2" placeholder="opcional"> </label>`,

      'tipo2': `<label> <input type="text" class="texto1"></label>
            <label class="container"> 
                <input type="radio" class="radio" checked="checked" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>  
                <span class="checkmark"></span>
            </label>
            <label style="margin-left: 13.788px;"> <input type="text" class="texto2" placeholder="opcional"> </label>`,

      'tipo3': `<div class="pergunta"> <input type="text" class="texto1"> </div>
            <div class="selecao">
                <select name="opcao" id="opcao" class="opcoes${nome_id}"><option value="?" selected onclick="questao3(this)">?</option></select>
            </div>
            <div class="opcao"><label for="resposta"> <input type="text" class="texto2" placeholder="opcional"> </label></div>`,
    }
      modelo.innerHTML += `${modelos[tipo]}`
      document.getElementById(nome_id).appendChild(modelo)
      
      if (tipo === 'tipo3'){
        opcoes = document.getElementsByClassName(`opcoes${nome_id}`)
        letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
        for (var i=0; i < opcoes.length; i++){
          for (var j=(opcoes[i].length - 1); j < opcoes.length; j++){
            opcoes[i].innerHTML += `<option name="op" class="${letras[j]}" value="${letras[j]}" onclick="questao3(this)">${letras[j]}</option>`
          }
        }
      }
    }

    function menos(tipo, nome_id){
      let documento = document.getElementById(`${nome_id}list`).children
      if (documento.length < 1){
        document.getElementById(nome_id).remove()
        questions = document.getElementsByClassName('questao')

        for (i=0; i < questions.length; i++) {
          questions[i].id = i
          questions[i].children[1].id = i + 'list'
          questions[i].children[0].children[1].attributes[4].nodeValue = questions[i].children[0].children[1].attributes[4].nodeValue.slice(0, -3) + i + "')"
          questions[i].children[0].children[2].attributes[4].nodeValue = questions[i].children[0].children[2].attributes[4].nodeValue.slice(0, -3) + i + "')"
        }
      }else {
      documento[documento.length - 1].remove()
      }

      if (tipo === 'tipo3'){
        opcoes = document.getElementsByClassName(`opcoes${nome_id}list`)
        for (var i=0; i < opcoes.length; i++){
          opcoes[i].childNodes[opcoes[i].childNodes.length - 1].remove()
        }
      }
    }
    
    function checkAndAddOption(selectElement) {
      if (selectElement.value === "new") {
        var opt = document.createElement('option');
        valor = prompt('Enter a name for the new thing:')
        opt.value = valor;
        opt.innerHTML = valor;
        opt.className = 'alternativas';
        selectElement.appendChild(opt);
        selectElement.value = valor
      }
      if (selectElement.value === "remove") {
        let documento = selectElement.children
        if (documento.length < 3){
          {}
        }else {
          documento[documento.length - 1].remove()
          selectElement.value = documento[documento.length - 1].value
        }
      }
    }

    function questao3(selectElement){
      siblings = selectElement.parentElement.childNodes
      for (var i=1; i < siblings.length; i++){
        if (siblings[i].attributes.name.value == 'op' && siblings[i] != selectElement){
          ops = document.getElementsByClassName(siblings[i].className)
          console.log(siblings[i].parentNode.value + '+')
          for (var j=0; j < ops.length; j++){
            if (ops[j].parentNode.value != siblings[i].value){
              ops[j].disabled = siblings[i].disabled
            }
          }
        }
      }

      if (selectElement.value != '?'){
        opcs = document.getElementsByClassName(selectElement.className)
        for (var i=0; i < opcs.length; i++){
          if (opcs[i] != selectElement){
            opcs[i].disabled = true
          }
        }
      }
      }
    
    function changeType(selectElement, tipo){
      console.log(selectElement)
      selectElement.className = 'questao ' + tipo
    }

    function share(){
      let compartilhamento = 'http://127.0.0.1:8000/res/{{prova.link}}'
      navigator.clipboard.writeText(compartilhamento)
    }
  </script>
  <script type="module">{}{% include 'elefante/partials/script.js' %}</script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).on('submit','#criacao',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'{% url "home" prova.link %}',
        data:
        {
          usuario:$("#id_usuario").val(),
          tipo_user:$("#id_tipo_user").val(),
          id_prova:$("#id_id_prova").val(),
          tipo_questao:$("#id_tipo_questao").val(),
          numero_questao:$("#id_numero_questao").val(),
          enunciado:$("#id_enunciado").val(),
          letra_questao:$("#id_letra_questao").val(),
          texto1:$("#id_texto1").val(),
          texto2:$("#id_texto2").val(),
          alt_marcada:$("#id_alt_marcada").val(),
          alt_erradas:$("#id_alt_erradas").val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(){
          notification.classList.add("notification-show");
          setTimeout(function(){
            notification.classList.remove("notification-show");
          }, 5000)
          }
      })
    });
    </script>
</head>

<body>
    <header class="cabeçalho">
      <div class="conteudo-primario">
        <div class="logo">
          <a href="#">
          <img src="{% static 'elefante/logo.png' %}" alt="logo do site">
          </a>
        </div>
        <div class="botoes">
          <input type="button" class="salvar" value="Salvar" onclick="save()" id="submit">
          <button class="compartilhar" onclick="share()">Compartilhar</button>
        </div>
     </div>
    </header>

  <main class="conteudo-secundario">
        <div class="questoes">
          <div class="pesquisar">
            <input type="text" name="pesquisar" placeholder="Buscar..">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div id="model1" class="modelo" style="top: 73px;">
          <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
          <div id="1header" class="thing">Modelo 1</div>
      </div>
  
      <div id="model2" class="modelo" style="top: 123px;">
          <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
          <div id="2header" class="thing">Modelo 2</div>
      </div>
  
      <div id="model3" class="modelo" style="top: 173px;">
          <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
          <div id="3header" class="thing">Modelo 3</div>
      </div>
        </div>

        <form id="criacao" class="criacao" action="" method="POST">
          {% csrf_token %}
          <div style="display:none;">
            {{form|crispy}}
            <script>
              document.getElementById("id_id_prova").value = '{{prova.id}}'
              document.getElementById("id_tipo_user").value = 'C'
              document.getElementById("id_usuario").value = '{{prova.dono.id}}'
            </script>
          </div>
        </form>
        <script>
          var numbers = new Set()
      </script>
      {% for paper in papers %}
          <script>
              numbers.add({{paper.numero_questao}})
          </script>
      {% endfor %}
      <script>
          for (question of numbers){
              questao = document.createElement('div')
              questao.id = question
              questao.innerHTML = `<div style="display: flex; flex-wrap: wrap;"><textarea id="enunciado${question}" style="width: calc(100% - 48px); resize: none; height:48px;">${question}</textarea>` + `<div style="width: 48px;"><input id="${question}_button_mais" style="margin-left: auto; height: 24px; width: 24px" type="button" value="+" onclick="mais(this.parentElement.parentElement.parentElement.className.split(' ')[1], '${question}')">` + `<input id="${question}_button_menos" style="height: 24px; width: 24px" type="button" value="-" onclick="menos(this.parentElement.parentElement.parentElement.className.split(' ')[1], '${question}')"><select id="trocador" style="height: 24px; width: 48px"></select></div></div><ol class="lista" type="a" id="${question}list">`
              console.log(document.getElementById('criacao'))
              document.getElementById('criacao').appendChild(questao)
              {% for paper in papers %}
                  if ({{paper.numero_questao}} == question){
                      questao.className = 'questao {{paper.tipo_questao}}'
                      document.getElementById(`enunciado{{paper.numero_questao}}`).innerHTML = '{{paper.enunciado}}'
                      document.getElementById('{{paper.numero_questao}}list').innerHTML += `<li><label> <input type="text" class="texto1" value="{{paper.texto1}}"> </label>
                      {% with alts=paper.alternativas %}
                      {% if paper.tipo_questao == 'tipo1' %}
                      <select name="calculo" id="calculo" style="margin-left: 21px">
                        <option value="new">novo</option>
                        <option value="remove">remover</option>
                          {% for alternativa in alts %}
                          {% if alternativa == paper.alt_marcada %}
                          <option value="{{alternativa}}" selected>{{alternativa}}</option>
                          {% else %}
                          <option value="{{alternativa}}">{{alternativa}}</option>
                          {% endif %}
                          {% endfor %}
                      </select>
                      {% endif %}
                      {% if paper.tipo_questao == 'tipo2' %}
                          {% for alternativa in alts %}
                          {% if alternativa == paper.alt_marcada %}
                          <label class="container"><input type="radio" class="radio" checked="checked" name="${question}-radio{{paper.letra_questao}}" ><textarea style="height: 18px; resize: none; max-width: 50px;">{{alternativa}}</textarea><span class="checkmark"></span></label>
                          {% else %}
                          <label class="container"><input type="radio" class="radio" name="${question}-radio{{paper.letra_questao}}"><textarea style="height: 18px; resize: none; max-width: 50px;">{{alternativa}}</textarea><span class="checkmark"></span></label>
                          {% endif %}
                          {% endfor %}
                      {% endif %}
                      {%endwith%}
                      <label for="calculo"> <input type="text" class="texto2" placeholder="opcional" value="{{paper.texto2}}"> </label></li>`
                  }
              {% endfor %}
          }
      </script>

        <div class="resposta">
          <div id="notification" class="notification">
            <p>Salvo com sucesso</p>
            <button id="close" class="notification__close" onclick="notification.classList.remove('notification-show');">
              <svg viewBox="0 0 352 512" width="100" title="times">
                <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
              </svg>
            </button>
          </div>
        </div>
  </main>


</body>
</html>
