{% extends "default.html" %}

{% block content%}
<div id="yes-drop" class="drag-drop">#yes-drop</div>

<div id="outer-dropzone" class="dropzone">
    #outer
    <div id="inner-dropzone" class="dropzone">#inner</div>
</div>
{%endblock%}

{% block styles %}
<style>
#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height:80px;
}

.dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;

    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;

    touch-action: none;
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
}

.drag-drop.can-drop{
    color: #000;
    background-color: #4e4;
}
</style>
{%endblock%}

{% block script %}
<script>
const interact = require('interactjs')

interact('.drag-drop')
    .draggable({
        intertia: true,
        modifiers: [
            interact.modifiers.restricRect({
                restriction: 'parent',
                edOnly: true
            })
        ],
        autoScroll: true,

        listeners: {
            move: dragMoveListener,
        }
    })

function dragMoveListener (event) {
    var target = event.target
    var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
    var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

    target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

    target.setAttribute('data-x', x)
    target.setAttribute('data-y', y)
}

window.dragMoveListener = dragMoveListener

interact('.dropzone').dropzone({
    accept: '#yes-drop',
    overlap: 0.75,

    ondropactivate: function (event) {
        event.target.classList.add('drop-active')
    },
    ondragenter: function (event) {
        var draggableElement = event.relatedTarget
        var dropzoneElement = event.target

        dropzoneElement.classList.add('drop-target')
        draggableElement.classList.add('can-drop')
        draggableElement.textContent = 'Dragged in'
    },
    ondragleave: function (event) {
        event.target.classList.remove('drop-target')
        event.relatedTarget.classList.remove('can-drop')
        event.relatedTarget.textContent = 'Dragged out'
    },
    ondrop: function (event) {
        event.relatedTarget.textContent = 'Dropped'
    },
    ondropdeactivate: function (event) {
        event.target.classList.remove('drop-active')
        event.target.classList.remove('drop-target')
    }
})
interact('.drag-drop')
    .draggable({
        inertia: true,
        modifiers: [
            interact.modifiers.restricRect({
                restriction: 'parent',
                endOnly: true
            })
        ],
        autoScroll: true,
        listeners: { move: dragMoveListener}
    })
</script>
{%endblock%}