{% load static %}
<!doctype html>
<html lang="pt=br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-info">
          <a class="navbar-brand" href="#">
            <img src="{% static 'elefante/logo.png' %}" alt="Bootstrap" width="30" height="24">
          </a>
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projetos Recentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/telacriacao">Criar Projetos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="">
      <div class="">
        <br>
        <img src="{% static 'elefante/logo.png' %}" class="rounded mx-auto d-block" width="150" alt="...">
        <br>
        <p class="fs-1 text-center">QuickTest</p>
        <p class="fs-3 text-center margin-top 50px">Simples, Rápido e Fácil! <br>
        Agora você pode fazer uma prova do seu jeito!</p>
        <p class="fs-5 text-center" style="padding: 50px;">Já pensou o quanto tempo você economizaria usando uma ferramenta para aplicar uma prova, recebe-lá e realizar a correção?<br>
        Muito tempo, não é? Essa ferramenta foi criada para ser intuitiva e com um pouquinho de edição você já está com tudo pronto. <br>
       </p>

       <div class="color" style="background-color: #0dcaf0; text-align: center; margin-bottom: 2%;" >
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'elefante/compiuter.png' %}"  class="rounded mx-auto d-block"  alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'elefante/compiuter.png' %}"  class="rounded mx-auto d-block"  alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'elefante/compiuter.png' %}"  class="rounded mx-auto d-block"  alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

       </div>

       <p class="fs-1 text-center">Como surgiu?</p>


       <p class="fs-5" style="margin-bottom: 5%; text-align: justify; padding: 2%;">
        <br>Percebemos o quão difícil é organizar as demandas de um professor, uma delas é a aplicação de prova para seus alunos. Alguns até usam
        papel e correios. Diante disso, resolvemos dar uma mãozinha para auxiliar nessa tarefa e foi aí que surgiu o <strong>QuickTest!</strong> <br>
         <strong>Como funciona?</strong>
        <br>O professor entra na plataforma de forma gratuita e acessa em "Criar projetos", em seguida vai aparecer opções de criar uma prova e já adionar a resposta totalemnte online.
        Por fim, será necessário enviar essa avaliação para o aluno atráveis de um link e assim que ele terminar ele já receberá o resultado final de seu desempenho.<br>
       </p>

       <hr class="border border-primary opacity-75" style="margin-bottom: 5%;" >

        <div class="container text-center">
          <div class="row row-cols-2">
            <div class="card" style="width: 15rem; margin-left: 50px;">
              <img src="{% static 'elefante/Áfia.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Olá, sou uma estudante de programação e atualmente a linguagem que estou aprendendo é python. Sou comunicativa, determinada e busco sempre uma mente criativa.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem; margin-left: 50px;">
              <img src="{% static 'elefante/Bernardo.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Opa, eu sou uma das mentes por trás do backend do QuickTest. Sou um entusiasta por programação que buscar crescer e aprender ainda mais sobre esse mundo, para nele trabalhar. Quer me conhecer mais? Acesse meu linktree.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem; margin-left: 50px;">
              <img src="{% static 'elefante/Guxtavu.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Fiz parte do backend do trabalho do QuickTest. Sou uma pessoa esforçada, aprende rápido e gosto muito de programação. Se quiser saber mais sobre mim, clique aqui e acesse minhas redes sociais</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem; margin-left: 50px;">
              <img src="{% static 'elefante/Nicolas.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Eu sou o Nícolas, Tenho 16 anos e acabei me aproximando pela programação em 2019, pois acreditei e acredito que com tecnologia tudo se aprende e se faz, só basta ter foco e persistência.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem; margin-left: 50px; margin-top: 50px; margin-bottom: 5%;">
              <img src="{% static 'elefante/Phellype.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Olá, sou um dos Co-Criador do QuickTest, eum simples estudante de programçao, que tem interesse de sempre adquirir mais conhecimente, e estudo no Cedup programação. Quer me conhecer mais? Acesse meu linktree.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <a class="tomas" href="/accounts/logout">logout</a>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>