<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de criação</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>{% include 'elefante/partials/telacriacao.css' %}</style>
  <style>{% include 'elefante/partials/styles.css' %}</style>
  <script src="https://kit.fontawesome.com/5dd5fe0132.js" crossorigin="anonymous"></script>
  <script>
    function save() {
      const notificationSave = document.getElementById("notificationSave");
      const notificationShare = document.getElementById("notificationShare");
      let questoes = document.getElementsByClassName("questao")
      for (var i=0; i < questoes.length; i++) {
        let tipo = questoes[i].className.split(" ")[1]
        document.getElementById('id_tipo_questao').value = tipo
        document.getElementById('id_numero_questao').value = i + 1
        document.getElementById('id_enunciado').value = questoes[i].childNodes[0].childNodes[0].value

        let children = questoes[i].getElementsByClassName("linha")
        for (var j=0; j < children.length; j++){
          letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
          document.getElementById('id_letra_questao').value = letras[j]
          document.getElementById('id_texto1').value = children[j].getElementsByClassName('texto1')[0].value
          document.getElementById('id_texto2').value = children[j].getElementsByClassName('texto2')[0].value

          if (tipo == 'tipo1'){
            let select = children[j].getElementsByTagName('select')[0]
            let marcada = select.value
            document.getElementById('id_alt_marcada').value = marcada

            let incorretas = ''
            let alternativas = select.getElementsByClassName('alternativas')
            for (var k=0; k < alternativas.length; k++){
                incorretas += `${alternativas[k].value}, `
              }
            document.getElementById('id_alt_erradas').value = incorretas
          }else if (tipo == 'tipo2'){
            let select = children[j].getElementsByClassName('container')
            
            let incorretas = ''
            for (var k=0; k < select.length; k++){
              let radios = select[k].getElementsByClassName('radio')[0]
              let textos = select[k].getElementsByTagName('textarea')[0]
              alternativa = radios
              if (alternativa.checked){
                document.getElementById('id_alt_marcada').value = textos.value
                incorretas += `${textos.value}, `
              }else {
                incorretas += `${textos.value}, `
              }}
            document.getElementById('id_alt_erradas').value = incorretas
          }else if (tipo == 'tipo3'){
            let select = children[j].getElementsByTagName('select')[0]
            let marcada = select.value
            document.getElementById('id_alt_marcada').value = marcada

            let incorretas = ''
            let alternativas = select.querySelectorAll('[name="op"]')
            console.log(alternativas)
            for (var k=0; k < alternativas.length; k++){
                incorretas += `${alternativas[k].value}, `
              }
            document.getElementById('id_alt_erradas').value = incorretas
          }
          document.getElementById("criacao").requestSubmit()
          setTimeout(function(){
            {}
          }, 750)
        }
      }
    }

    function mais(tipo, nome_id){
      nome_id = nome_id + 'list'
      let modelo = document.createElement('li')
      modelo.className = 'linha'
      const modelos = {
      'tipo1': `{% spaceless %}<select name="calculo" id="calculo" onclick="checkAndAddOption(this)">
<option value="new">novo</option>
<option value="remove">remover</option>
</select>{% endspaceless %}`,

      'tipo2': `{% spaceless %}<label class="container"> 
                <input type="radio" class="radio" checked="checked" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>  
                <span class="checkmark"></span>
            </label>{% endspaceless %}`,

      'tipo3': `{% spaceless %}<div class="selecao">
                <select name="opcao" id="opcao" class="opcoes${nome_id}"><option value="?" selected onclick="questao3(this)">?</option></select>
            </div>{% endspaceless %}`,
    }
      modelo.innerHTML += `<label><input type="text" class="texto1"></label><span class="alts">${modelos[tipo]}</span><label style="margin-left: 13.788px;"><input type="text" class="texto2"placeholder="opcional"></label>`
      document.getElementById(nome_id).appendChild(modelo)
      
      if (tipo === 'tipo3'){
        opcoes = document.getElementsByClassName(`opcoes${nome_id}`)
        letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
        for (var i=0; i < opcoes.length; i++){
          for (var j=(opcoes[i].length - 1); j < opcoes.length; j++){
            opcoes[i].innerHTML += `<option name="op" class="${letras[j]}" value="${letras[j]}" onclick="questao3(this)">${letras[j]}</option>`
          }
        }
      }
    }

    function menos(tipo, nome_id){
      let documento = document.getElementById(`${nome_id}list`).children
      if (documento.length < 1){
        document.getElementById(nome_id).remove()
        questions = document.getElementsByClassName('questao')

        for (i=0; i < questions.length; i++) {
          questions[i].id = i+1
          questions[i].children[1].id = (i+1) + 'list'
          questions[i].children[0].children[1].children[0].attributes[4].nodeValue = questions[i].children[0].children[1].children[0].attributes[4].nodeValue.slice(0, -3) + (i+1) + "')"
          questions[i].children[0].children[1].children[1].attributes[4].nodeValue = questions[i].children[0].children[1].children[1].attributes[4].nodeValue.slice(0, -3) + (i+1) + "')"
        }
      }else {
      documento[documento.length - 1].remove()
      }

      if (tipo === 'tipo3'){
        opcoes = document.getElementsByClassName(`opcoes${nome_id}list`)
        for (var i=0; i < opcoes.length; i++){
          opcoes[i].childNodes[opcoes[i].childNodes.length - 1].remove()
        }
      }
    }
    
    function checkAndAddOption(selectElement) {
      if (selectElement.value === "new") {
        var opt = document.createElement('option');
        valor = prompt('Enter a name for the new thing:')
        if (valor == ''){
          return
        }
        opt.value = valor;
        opt.innerHTML = valor;
        opt.className = 'alternativas';
        selectElement.appendChild(opt);
        selectElement.value = valor
      }
      if (selectElement.value === "remove") {
        let documento = selectElement.children
        if (documento.length < 3){
          {}
        }else {
          documento[documento.length - 1].remove()
          selectElement.value = documento[documento.length - 1].value
        }
      }
    }

    function questao3(selectElement){
      siblings = selectElement.parentElement.childNodes
      for (var i=1; i < siblings.length; i++){
        if (siblings[i].attributes.name.value == 'op' && siblings[i] != selectElement){
          ops = document.getElementsByClassName(siblings[i].className)
          for (var j=0; j < ops.length; j++){
            if (ops[j].parentNode.value != siblings[i].value){
              ops[j].disabled = siblings[i].disabled
            }
          }
        }
      }

      if (selectElement.value != '?'){
        opcs = document.getElementsByClassName(selectElement.className)
        for (var i=0; i < opcs.length; i++){
          if (opcs[i] != selectElement){
            opcs[i].disabled = true
          }
        }
      }
      }
    
    function changeType(selectElement, tipo){
      tipo_antigo = selectElement.className.split(' ')[1]
      selectElement.className = 'questao ' + tipo
      nome_id = selectElement.childNodes[1].id
      elementos = selectElement.childNodes[1].childNodes

      for (i=0; i < elementos.length; i++){
        if (tipo_antigo == 'tipo1'){
            let select = elementos[i].getElementsByTagName('select')[0]
            let marcada = select.value
            document.getElementById('id_alt_marcada').value = marcada

            let incorretas = ''
            let alternativas = select.getElementsByClassName('alternativas')
            for (var k=0; k < alternativas.length; k++){
                incorretas += `${alternativas[k].value}, `
              }
            document.getElementById('id_alt_erradas').value = incorretas
          }else if (tipo_antigo == 'tipo2'){
            let select = elementos[i].getElementsByClassName('container')
            
            let incorretas = ''
            for (var k=0; k < select.length; k++){
              let radios = select[k].getElementsByClassName('radio')[0]
              let textos = select[k].getElementsByTagName('textarea')[0]
              alternativa = radios
              if (alternativa.checked){
                document.getElementById('id_alt_marcada').value = textos.value
                incorretas += `${textos.value}, `
              }else {
                incorretas += `${textos.value}, `
              }}
            document.getElementById('id_alt_erradas').value = incorretas
          }else if (tipo_antigo == 'tipo3'){
            let select = elementos[i].getElementsByTagName('select')[0]
            let marcada = select.value
            document.getElementById('id_alt_marcada').value = marcada

            let incorretas = ''
            let alternativas = select.querySelectorAll('[name="op"]')
            for (var k=0; k < alternativas.length; k++){
                incorretas += `${alternativas[k].value}, `
              }
            document.getElementById('id_alt_erradas').value = incorretas
          }
        const modelos = {
      'tipo1': `{% spaceless %}<select name="calculo" id="calculo" onclick="checkAndAddOption(this)">
<option value="new">novo</option>
<option value="remove">remover</option>
</select>{% endspaceless %}`,

      'tipo2': `{% spaceless %}<label class="container"> 
                <input type="radio" class="radio" checked="checked" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>
                <span class="checkmark"></span>
            </label>
            <label class="container"> 
                <input type="radio" class="radio" name="${nome_id}-radio${document.getElementById(nome_id).childElementCount}">
                <textarea style="height: 18px; resize: none; max-width: 50px;"></textarea>  
                <span class="checkmark"></span>
            </label>{% endspaceless %}`,

      'tipo3': `{% spaceless %}<div class="selecao">
                <select name="opcao" id="opcao" class="opcoes${nome_id}"><option value="?" selected onclick="questao3(this)">?</option></select>
            </div>{% endspaceless %}`,
    }
        

          if (tipo == 'tipo1'){
            elementos[i].children[1].innerHTML = modelos[tipo]
            for (j of document.getElementById('id_alt_erradas').value.split(', ').slice(0, -1)){
              if (j == document.getElementById('id_alt_marcada').value){
                elementos[i].children[1].children[0].innerHTML += `<option class="alternativas" value="${j}" selected>${j}</option>`
              }else{
                elementos[i].children[1].children[0].innerHTML += `<option class="alternativas" value="${j}">${j}</option>`
              }
            }
          }
          if (tipo == 'tipo2'){
            alternativas = document.getElementById('id_alt_erradas').value.split(', ').slice(0, -1)
            elementos[i].children[1].innerHTML = ''
            for (j=0; j < alternativas.length && j < 4; j++){
              if (alternativas[j] == document.getElementById('id_alt_marcada').value){
                elementos[i].children[1].innerHTML += `{% spaceless %}<label class="container"> 
                  <input type="radio" class="radio" checked="checked" name="${nome_id}-radio${i}">
                  <textarea style="height: 18px; resize: none; max-width: 50px;">${alternativas[j]}</textarea>
                  <span class="checkmark"></span>
              </label>{% endspaceless %}`
              }else{
                elementos[i].children[1].innerHTML += `{% spaceless %}<label class="container"> 
                  <input type="radio" class="radio" name="${nome_id}-radio${i}">
                  <textarea style="height: 18px; resize: none; max-width: 50px;">${alternativas[j]}</textarea>
                  <span class="checkmark"></span>
              </label>{% endspaceless %}`
              }
            }          
          }
          if (tipo == 'tipo3'){
            elementos[i].children[1].innerHTML = modelos[tipo]   
        }
      }
    }

    function share(){
      let compartilhamento = 'http://127.0.0.1:8000/res/{{prova.link}}'
      navigator.clipboard.writeText(compartilhamento)

      notificationShare.classList.add("notification-show");
          setTimeout(function(){
            notificationShare.classList.remove("notification-show");
          }, 5000)
    }
  </script>
  <script type="module">{}{% include 'elefante/partials/script.js' %}</script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).on('submit','#criacao',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'{% url "criador" prova.link %}',
        data:
        {
          usuario:$("#id_usuario").val(),
          tipo_user:$("#id_tipo_user").val(),
          id_prova:$("#id_id_prova").val(),
          tipo_questao:$("#id_tipo_questao").val(),
          numero_questao:$("#id_numero_questao").val(),
          enunciado:$("#id_enunciado").val(),
          letra_questao:$("#id_letra_questao").val(),
          texto1:$("#id_texto1").val(),
          texto2:$("#id_texto2").val(),
          alt_marcada:$("#id_alt_marcada").val(),
          alt_erradas:$("#id_alt_erradas").val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(){
          notificationSave.classList.add("notification-show");
          setTimeout(function(){
            notificationSave.classList.remove("notification-show");
          }, 5000)
          }
      })
    });
    </script>
</head>

<body>   
    <nav class="navbar navbar-expand-lg bg-info">
      <div class="container-fluid">
          <img src="{% static 'elefante/Logo_TCC.png' %}" alt="Bootstrap" width="30" height="24">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projetos">Projetos Recentes</a>
            </li>
          </ul>
            <input type="button" class="btn btn-outline-success" style="cursor: pointer; margin-right: 5px;" value="Salvar" onclick="save()" id="submit">
            <button class="btn btn-outline-success" style="cursor: pointer;" onclick="share()">Compartilhar</button>
        </div>
      </div>
    </nav>

  <main class="conteudo-secundario">
        <div class="questoes">
          <div class="pesquisar">
            <input type="text" name="pesquisar" placeholder="Buscar..">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div id="model1" class="modelo" style="top: 100px;">
          <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
          <div id="1header" class="thing"><img class= "img2" src="{% static 'elefante/Complete.png' %}" style="width: 300px;"></div>
      </div>
  
      <div id="model2" class="modelo" style="top: 190px;">
          <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
          <div id="2header" class="thing"><img class= "img2" src="{% static 'elefante/Opcoes.png' %}" style="width: 200px;"></div>
      </div>
  
      <div id="model3" class="modelo" style="top: 390px;">
          <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
          <div id="3header" class="thing"><img class= "img2" src="{% static 'elefante/Relacione.png' %}" style="width: 200px;"></div>
      </div>
        </div>

        <form id="criacao" class="criacao" action="" method="POST">
          {% csrf_token %}
          <div style="display:none;">
            {{form|crispy}}
            <script>
              document.getElementById("id_id_prova").value = '{{prova.id}}'
              document.getElementById("id_tipo_user").value = 'C'
              document.getElementById("id_usuario").value = '{{prova.dono.id}}'
            </script>
          </div>
        </form>
        <script>
          var numbers = new Set()
      </script>
      {% for paper in papers %}
          <script>
              numbers.add({{paper.numero_questao}})
          </script>
      {% endfor %}
      <script>
          for (question of Array.from(numbers).sort()){
              questao = document.createElement('div')
              questao.id = question
              questao.innerHTML = `<div style="display: flex; flex-wrap: wrap;"><textarea id="enunciado${question}" style="width: calc(100% - 48px); resize: none; height:48px;">${question}</textarea>` + `<div style="width: 48px;"><input id="${question}_button_mais" style="margin-left: auto; height: 24px; width: 24px" type="button" value="+" onclick="mais(this.parentElement.parentElement.parentElement.className.split(' ')[1], '${question}')">` + `<input id="${question}_button_menos" style="height: 24px; width: 24px" type="button" value="-" onclick="menos(this.parentElement.parentElement.parentElement.className.split(' ')[1], '${question}')"><select id="trocador" style="height: 24px; width: 48px"></select></div></div><ol class="lista" type="a" id="${question}list">`
              document.getElementById('criacao').appendChild(questao)
              document.getElementsByName("csrfmiddlewaretoken")[0].before(document.getElementById(questao.id))
              
              for (letter of letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']){
              {% for paper in papers %}
                  if ({{paper.numero_questao}} == question && '{{paper.letra_questao}}' == letter){
                    let troca = document.getElementById(questao.id).querySelector('[id=trocador]')
                    let modelos = document.getElementsByClassName('modelo')
                    if (troca.children.length < 2){
                    for (let i=0; i < modelos.length; i++){
                      if (`tipo${i+1}` == '{{paper.tipo_questao}}'){
                        troca.innerHTML += `<option value="tipo${i+1}" selected onclick="changeType(this.parentElement.parentElement.parentElement.parentElement, this.value)">tipo${i+1}</option>`
                      }else{
                        troca.innerHTML += `<option value="tipo${i+1}" onclick="changeType(this.parentElement.parentElement.parentElement.parentElement, this.value)">tipo${i+1}</option>`
                      }
                    }}

                      questao.className = 'questao {{paper.tipo_questao}}'
                      document.getElementById(`enunciado{{paper.numero_questao}}`).innerHTML = '{{paper.enunciado}}'
                      document.getElementById('{{paper.numero_questao}}list').innerHTML += `{% spaceless %}<li class="linha"><label> <input type="text" class="texto1" value="{{paper.texto1}}" style="width: 90%" > </label><span class="alts">
                      {% with alts=paper.alternativas %}
                      {% if paper.tipo_questao == 'tipo1' %}
                      <select name="calculo" id="calculo" onclick="checkAndAddOption(this)">
                        <option value="new">novo</option>
                        <option value="remove">remover</option>
                          {% for alternativa in alts %}
                          {% if alternativa == paper.alt_marcada %}
                          <option class="alternativas" value="{{alternativa}}" selected>{{alternativa}}</option>
                          {% else %}
                          <option class="alternativas" value="{{alternativa}}">{{alternativa}}</option>
                          {% endif %}
                          {% endfor %}
                      </select>
                      {% endif %}
                      {% if paper.tipo_questao == 'tipo2' %}
                          {% for alternativa in alts %}
                          {% if alternativa == paper.alt_marcada %}
                          <label class="container"><input type="radio" class="radio" checked="checked" name="${question}-radio{{paper.letra_questao}}" ><textarea style="height: 18px; resize: none; max-width: 60px;">{{alternativa}}</textarea><span class="checkmark"></span></label>
                          {% else %}
                          <label class="container"><input type="radio" class="radio" name="${question}-radio{{paper.letra_questao}}"><textarea style="height: 18px; resize: none; max-width: 60px;">{{alternativa}}</textarea><span class="checkmark"></span></label>
                          {% endif %}
                          {% endfor %}
                      {% endif %}
                      {% if paper.tipo_questao == 'tipo3' %}
                          <div class="selecao">
                            <select name="opcao" id="opcao" class="opcoes{{paper.numero_questao}}list"><option value="?" selected onclick="questao3(this)">?</option>
                          {% for alternativa in alts %}
                          {% if alternativa == paper.alt_marcada %}
                            <option name="op" class="{{alternativa}}" value="{{alternativa}}" onclick="questao3(this)" selected>{{alternativa}}</option>
                          {% else %}
                            <option name="op" class="{{alternativa}}" value="{{alternativa}}" onclick="questao3(this)" disabled>{{alternativa}}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                          </div>
                      {% endif %}
                      {%endwith%}
                      </span><label style="margin-left: 13.788px;"> <input type="text" class="texto2" placeholder="opcional" value="{{paper.texto2}}"> </label></li>{% endspaceless %}`
                  }
              {% endfor %}
              }
            }
      </script>

        <div class="resposta">
          <div id="notificationSave" class="notification">
            <p>Salvo com sucesso</p>
            <button id="close" class="notification__close" onclick="notificationSave.classList.remove('notification-show');">
              <svg viewBox="0 0 352 512" width="100" title="times">
                <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
              </svg>
            </button>
          </div>

          <div id="notificationShare" class="notification">
            <p>Link copiado</p>
            <button id="close" class="notification__close" onclick="notificationShare.classList.remove('notification-show');">
              <svg viewBox="0 0 352 512" width="100" title="times">
                <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
              </svg>
            </button>
          </div>
        </div>
  </main>


</body>
</html>
