#area1{
  margin-left: 50px;
  margin-top: 100px;
  border: 1px solid #d3d3d3;
  height: 500px;
  width: 600px;
  position: relative;
}

.modelo {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 142.1999969482422px;
}

.questao {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
	width: 142.1999969482422px;
  }

.thing {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

body{
    background-color: #5ce1e6;
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 23%;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 1;
    background-color: #03989e;
    overflow-x: scroll;
    padding-top: 20px;
  }


  .sidenav2 {
    height: 100%;
    width: 23%;
    position: fixed;
    z-index: 1;
    top: 1;
    background-color: #03989e;
    overflow-x: scroll;
    padding-top: 20px;
    margin-left: 77%;
  }

  .child {
    width: 43%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 15%;
    left: 30%;
    margin: -20px 0 0 -20px; 
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }